{{#each arcanes as |arcane id|}}
    <div class="grid-arcanes separateur15">
        <div class="titre-noir col-arcane-beni">{{localize "LdC.arcaneBeni"}}</div>
        <div class="titre-rouge col-arcane-oppose">{{localize "LdC.arcaneOppose"}}</div>
        <div class="centre titre-align case-arcane-suppr"><a class="arcane-suppr" title="{{localize 'LdC.supprArcane'}}" data-item-id="{{arcane._id}}"><i class="fa-solid fa-xmark"></i></a></div>
        <div class="titre-align text-arcane">{{arcane.name}}</div>
        <div class="centre titre-align text-arcane">N° {{arcane.system.numero}}</div>
        {{#if arcane.system.arcaneOppose}}    
            <div class="titre-align text-arcane">{{arcane.system.arcaneOppose.name}}</div>
            <div class="centre titre-align text-arcane">N° {{arcane.system.arcaneOppose.system.numero}}</div>
        {{/if}}
        <div class="item-box col-all">
            <div class="entete text-arcane">{{localize "LdC.marque"}}</div>
            <div>{{editor arcane.system.marqueDraconique target="arcane.system.marqueDraconique" button=false owner=true editable=false}}</div>
        </div>
    </div>
{{/each}}