<div class="grid-caracs">
    {{> "systems/lames-du-cardinal/templates/partials/actors/lame-sante.hbs"}}
    <div class="grid-comp">
        <div class="col1 titre-noir centre signe separateur10">
            <div><img src="systems/lames-du-cardinal/images/signes/griffe.png"></div>
            <div>{{localize "LdC.puissance"}}</div>
        </div>
        <div class="col2 titre-noir centre signe separateur10">
            <div><img src="systems/lames-du-cardinal/images/signes/souffle.png"></div>
            <div>{{localize "LdC.vivacite"}}</div>
        </div>
        <div class="col1 ligne-valeur-carac">
            <div class="valeur-carac {{data.system.caracteristiques.puissance.couleur}}">{{data.system.caracteristiques.puissance.valeur}}</div>
            <div class="ligne-case-carac">
                {{#times data.system.caracteristiques.puissance.valeur}}
                    <a class="case-carac {{data.system.caracteristiques.puissance.couleur}}" title="{{@index}}" data-carac="puissance" data-index="{{@index}}">
                        {{#if (gte data.system.caracteristiques.puissance.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                    </a>
                {{/times}}
            </div>
        </div>
        <div class="col2 ligne-valeur-carac">
            <div class="valeur-carac {{data.system.caracteristiques.vivacite.couleur}}">{{data.system.caracteristiques.vivacite.valeur}}</div>
            <div class="ligne-case-carac">
                {{#times data.system.caracteristiques.vivacite.valeur}}
                    <a class="case-carac {{data.system.caracteristiques.vivacite.couleur}}" title="{{@index}}" data-carac="vivacite" data-index="{{@index}}">
                        {{#if (gte data.system.caracteristiques.vivacite.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                    </a>
                {{/times}}
            </div>
        </div>
        <div class="titre-comp">{{localize "LdC.athletisme"}}</div>
        <div class="valeur-comp">{{data.system.competences.athletisme.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.athletisme.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="athletisme"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.creation"}}</div>
        <div class="valeur-comp">{{data.system.competences.creation.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.creation.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="creation"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.autorite"}}</div>
        <div class="valeur-comp">{{data.system.competences.autorite.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.autorite.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="autorite"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.debrouille"}}</div>
        <div class="valeur-comp">{{data.system.competences.debrouille.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.debrouille.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="debrouille"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.bagarre"}}</div>
        <div class="valeur-comp">{{data.system.competences.bagarre.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.bagarre.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="bagarre"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.duperie"}}</div>
        <div class="valeur-comp">{{data.system.competences.duperie.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.duperie.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="duperie"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.equitation"}}</div>
        <div class="valeur-comp">{{data.system.competences.equitation.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.equitation.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="equitation"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.furtivite"}}</div>
        <div class="valeur-comp">{{data.system.competences.furtivite.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.furtivite.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="furtivite"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.volonte"}}</div>
        <div class="valeur-comp">{{data.system.competences.volonte.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.volonte.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="volonte"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.vigilance"}}</div>
        <div class="valeur-comp">{{data.system.competences.vigilance.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.vigilance.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="vigilance"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="col1 titre-rouge centre signe separateur10">
            <div><img src="systems/lames-du-cardinal/images/signes/sang.png"></div>
            <div>{{localize "LdC.galanterie"}}</div>
        </div>
        <div class="col2 titre-rouge centre signe separateur10">
            <div><img src="systems/lames-du-cardinal/images/signes/ecaille.png"></div>
            <div>{{localize "LdC.finesse"}}</div>
        </div>
        <div class="col1 ligne-valeur-carac">
            <div class="valeur-carac {{data.system.caracteristiques.galanterie.couleur}}">{{data.system.caracteristiques.galanterie.valeur}}</div>
            <div class="ligne-case-carac">
                {{#times data.system.caracteristiques.galanterie.valeur}}
                    <a class="case-carac {{data.system.caracteristiques.galanterie.couleur}}" title="{{@index}}" data-carac="galanterie" data-index="{{@index}}">
                        {{#if (gte data.system.caracteristiques.galanterie.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                    </a>
                {{/times}}
            </div>
        </div>
        <div class="col2 ligne-valeur-carac">
            <div class="valeur-carac {{data.system.caracteristiques.finesse.couleur}}">{{data.system.caracteristiques.finesse.valeur}}</div>
            <div class="ligne-case-carac">
                {{#times data.system.caracteristiques.finesse.valeur}}
                    <a class="case-carac {{data.system.caracteristiques.finesse.couleur}}" title="{{@index}}" data-carac="finesse" data-index="{{@index}}">
                        {{#if (gte data.system.caracteristiques.finesse.utilisee @index)}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                    </a>
                {{/times}}
            </div>
        </div>
        <div class="titre-comp">{{localize "LdC.intrigue"}}</div>
        <div class="valeur-comp">{{data.system.competences.intrigue.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.intrigue.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="intrigue"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.erudition"}}</div>
        <div class="valeur-comp">{{data.system.competences.erudition.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.erudition.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="erudition"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.negoce"}}</div>
        <div class="valeur-comp">{{data.system.competences.negoce.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.negoce.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="negoce"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.investigation"}}</div>
        <div class="valeur-comp">{{data.system.competences.investigation.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.investigation.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="investigation"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.persuasion"}}</div>
        <div class="valeur-comp">{{data.system.competences.persuasion.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.persuasion.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="persuasion"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.medecine"}}</div>
        <div class="valeur-comp">{{data.system.competences.medecine.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.medecine.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="medecine"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.seduction"}}</div>
        <div class="valeur-comp">{{data.system.competences.seduction.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.seduction.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="seduction"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.technique"}}</div>
        <div class="valeur-comp">{{data.system.competences.technique.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.technique.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="technique"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.strategie"}}</div>
        <div class="valeur-comp">{{data.system.competences.strategie.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.strategie.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="strategie"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp">{{localize "LdC.tir"}}</div>
        <div class="valeur-comp">{{data.system.competences.tir.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.tir.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="tir"><i class="fa-regular fa-cards-blank"></i></a></div>
    </div>
    <div class="grid-comp separateur15">
        <div class="titre-comp titre-rouge ">{{localize "LdC.occultisme"}}</div>
        <div class="valeur-comp">{{data.system.competences.occultisme.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.occultisme.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="occultisme"><i class="fa-regular fa-cards-blank"></i></a></div>

        <div class="titre-comp titre-noir">{{localize "LdC.escrime"}}</div>
        <div class="valeur-comp">{{data.system.competences.escrime.valeur}}</div>
        <div class="reus-auto">( {{data.system.competences.escrime.reussiteAuto}} )</div>
        <div class="btn-comp"><a class="draw-cards" title="{{localize 'LdC.tooltip.testComp'}}" data-comp="escrime"><i class="fa-regular fa-cards-blank"></i></a></div>
    </div>
</div>