<div class="grid-car-sec separateur10">
    <div class="centre titre-rouge">{{localize "LdC.ressources"}}</div>
    <div class="centre titre-rouge">{{localize "LdC.contacts"}}</div>
    <div class="ligne-valeur-car-sec">
        <div class="btn-car-sec">
            <a class="mod-car-sec" title="{{localize 'LdC.tooltip.dimRess'}}" data-carac="ressources" data-action="minus">
                <i class="fa-solid fa-circle-minus"></i>
            </a>
        </div>
        <div class="valeur-car-sec">{{data.system.secondaires.ressources.value}}</div>
        <div class="btn-car-sec">
            <a class="mod-car-sec" title="{{localize 'LdC.tooltip.augRess'}}" data-carac="ressources" data-action="plus">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
    </div>
    <div class="ligne-valeur-car-sec">
        <div class="btn-car-sec">
            <a class="mod-car-sec" title="{{localize 'LdC.tooltip.dimContacts'}}" data-carac="contacts" data-action="minus">
                <i class="fa-solid fa-circle-minus"></i>
            </a>
        </div>
        <div class="valeur-car-sec">{{data.system.secondaires.contacts.value}}</div>
        <div class="btn-car-sec">
            <a class="mod-car-sec" title="{{localize 'LdC.tooltip.augContacts'}}" data-carac="contacts" data-action="plus">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        {{#each profils as |profil id|}}
            <div class="categ"><img src="systems/lames-du-cardinal/images/categories/{{profil.system.categorie}}.png" title="{{profil.name}}"></div>
        {{/each}}
    </div>
    <div class="centre titre-noir separateur10">{{localize "LdC.possessions"}}</div>
    <div class="centre titre-noir separateur10">{{localize "LdC.relations"}}</div>
    <div class="equip">
        {{#each equipements as |equip id|}}
            <div class="equip-item item-box">
                <div class="equip-entete">
                    {{#if ../unlocked}}
                        <a class="item-suppr titre" title="{{localize 'LdC.tooltip.supprEquip'}}" data-type="equipement" data-item-id="{{equip._id}}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    {{/if}}
                    <div class="equip-nom">{{equip.name}}</div>
                    <label><i class="fa-solid fa-shield" title="{{localize 'LdC.tooltip.qualiteEquip'}}"></i> : {{configLocalize "qualiteEquip" equip.system.qualite}}</label>
                </div>
                {{#if equip.system.effet}}
                    <div class="row-titre"> {{localize "LdC.effet"}} : {{equip.system.effet}}</div>
                {{/if}}
                <div>{{editor equip.system.description target="equip.system.description" button=false owner=true editable=false}}</div>
            </div>
        {{/each}}
    </div>
    <div class="contact">
        {{#each contacts as |contact id|}}
            <div class="contact-item item-box">
                <div class="contact-entete">
                    {{#if ../unlocked}}
                        <a class="item-suppr titre" title="{{localize 'LdC.tooltip.supprContact'}}" data-type="contact" data-item-id="{{contact._id}}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    {{/if}}
                    <div class="contact-nom">{{contact.name}}</div>
                    <label><i class="fa-solid fa-medal" title="{{localize 'LdC.tooltip.importanceContact'}}"></i> : {{configLocalize "importance" contact.system.importance}}</label>
                </div>
                    <div class="row-titre"> {{localize "LdC.categorie"}} : {{configLocalize "categorie" contact.system.categorie}}</div>
                <div>{{editor contact.system.description target="contact.system.description" button=false owner=true editable=false}}</div>
            </div>
        {{/each}}
    </div>
</div>