<div class="test-eclair">
    <div class="ligne-comp">
        <div><img src="systems/lames-du-cardinal/images/signes/{{competence.signe}}.png"></div>
        <div class="competence">{{competence.nom}} {{competence.valeur}}</div>
        <div class="type-test"><i class="fa-solid fa-bolt-lightning" title="Test éclair"></i></div>
    </div>
    <div class="ligne-carte">
        <div><img class="card-face {{#if cardViewActive}}view-card{{/if}}" src="{{cartes.image}}" title="{{cartes.nom}}" alt="{{cartes.nom}}" data-id="{{cartes.id}}" data-deck="{{cartes.deck}}"/></div>
        <div class="carte">{{cartes.nom}}</div>
    </div>
    <div class="ligne-result">
        <div></div>
        {{#if resultat.reussiteCritique}}
            <div class="resultat">
                <div class="reussite-crit">{{localize "LdC.chat.reussiteCrit"}}</div>
            </div>
        {{else if resultat.echecCritique}}
            <div class="resultat">
                <div class="echec-crit">{{localize "LdC.chat.echecCrit"}}</div>
            </div>
        {{else if resultat.piocheArcane}}
            <div class="resultat">
                <div class="echec">{{localize "LdC.chat.echec"}}</div>
            </div>
        {{else if (eq resultat.totalReussites 0)}}
            <div class="resultat">
                <div class="echec">{{localize "LdC.chat.echec"}}</div>
            </div>
        {{else}}
            <div class="resultat">
                <div class="reussite">{{resultat.totalReussites}} {{#if (gt resultat.totalReussites 1)}}{{localize "LdC.chat.reussites"}}{{else}}{{localize "LdC.chat.reussite"}}{{/if}}</div>
            </div>
        {{/if}}
        <div></div>
    </div>
</div>