<div class="test-dramatique">
    <div class="ligne-comp">
        <div><img src="systems/lames-du-cardinal/images/signes/{{competence.signe}}.png"></div>
        <div class="competence">{{competence.nom}} {{competence.valeur}}</div>
        <div class="type-test"><i class="fa-solid fa-masks-theater" title="Test dramatique"></i></div>
    </div>
    <div class="grid-cartes">
        <div class="col-all">Cartes piochées</div>
        {{#each cartes as |carte id|}}
            <div><img class="card-face {{#if ../cardViewActive}}view-card{{/if}}" src="{{carte.image}}" title="{{carte.nom}}" alt="{{carte.nom}}" data-id="{{carte.id}}" data-deck="{{carte.deck}}"/></div>
        {{/each}}
    </div>
    {{#if resultat.reussiteCritique}}
        <div>REUSSITE CRITIQUE !</div>
    {{else if resultat.echecCritique}}
        <div>ECHEC CRITIQUE !</div>
    {{else if resultat.piocheArcane}}
    <div>ECHEC</div>
    {{else}}
        <div>Nombre de réussites : {{resultat.totalReussites}}</div>
    {{/if}}
</div>